.container {
  padding-top: 20px;
}

.inputField {
  margin-right: 20px;
}

.button {
  width: 80px;
  height: 25px;
  background: #8bf18b;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  position: relative;

  &:active {
    top: 1px;
    left: -1px
  }
}
