.editContainer {
  padding: 0 30px;
}

.editFieldContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 65%;

  label {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    text-align: left;
  }
}

.editLabel {
  border-radius: 3px;
  border: 1px solid rgb(169, 169, 169);
  height: 25px;
  font-size: 16px;
}

.editDescription {
  resize: none;
  width: 434px;
  height: 115px;
  border-radius: 3px;
}

.buttonContainer {
  position: absolute;
  bottom: 15px;
  right: 50px;
}

.buttons {
  height: 30px;
  width: 80px;
  border-radius: 2px;
  margin-left: 5px;
  border: 1px solid rgba(128, 128, 128, 0.35);

  &.edit {
    background: #8bf18b;
  }

  &.cancel {

  }

  &.delete {
    background: rgba(255, 38, 30, 0.63);
  }

  &:active {
    position: relative;
    top: 1px;
    left: -1px;
  }
}